[2017-06-13 23:28] edenman opened #2 "Sift force-upgrades play-services to 11.0.0"
Here's what happens when I try to upgrade to sift-android 0.9.2:
<img width="1146" alt="screen shot 2017-06-13 at 4 23 04 pm" src="https://user-images.githubusercontent.com/1063557/27108950-d6b5787c-5054-11e7-983a-87bad7cae2fc.png">
For reference, this is what I'm currently pinning play services to:
[code]
Relevant section of the ./gradlew dependencies output from my app:
[code]

It looks like thi

[2017-06-13 23:34] edenman opened #3 "Crash on failures"
Currently there's a bunch of `Log.e` statements in catch blocks, which is less than ideal.  As unintuitive as it may be, crashing would be preferable in many of these cases.  Ideally:

1) If it's an `IOException`, `Log.e` and then schedule a retry of the operation with exponential backoff.
2) Otherwise (like the `UnrecognizedPropertyException` in 0.9.0), the app should crash.  The way it is now, w

[2017-06-13 23:41] garylee1 commented on #2
Ah, I can change this back @edenman . There was some a version mismatch which was causing an NPE for customers that were importing an older play-services version.

[2017-06-13 23:42] garylee1 commented on #2
For context, it was something to this effect:

[code]

[2017-06-13 23:51] edenman commented on #2
Gotcha.  Yeah, if you guys need `9.8.0`, just refer to that and it should work fine.

[2017-06-14 00:00] garylee1 commented on #2
I think it was a version discrepancy specifically between an old version of `play-services-base` and `play-services-location:9.8.0` that was causing the NPE. I guess instead of coercing the version we can ask customers to bump their `play-services-base` version to at least `9.8.0` if they're using our SDK. Thanks again for the feedback!

[2017-06-19 21:37] garylee1 commented on #2
this has been addressed by v0.9.3

[2017-06-19 21:37] #2 closed

[2017-06-19 21:42] edenman commented on #2
Thanks @garylee1 !

[2017-06-21 09:02] pkovalenko opened #5 "Crash when App go to backgroung or Restore from backgroung."
I integrated SiftScience into my app. In my screen flow I have Activities and Fragments, than I used Custom Integration from docs.
Sometimes when app goes to the background or restore from the background, I get Crash with next stack trace:

[code]

It happens not all time, only sometimes. I got this crashes on Samsung S5 and LG Nexus 5 devices.

Thank you.
[code]

[2017-06-27 19:04] brunogabriel opened #6 "Custom Events"
Hi, in Sift-java implementation I've possibility to add custom fields, but in this library I didn't found anything. iOs implementation has SFEvent, but in Android not, there's anything like that ?

Thank you

[2017-06-28 17:29] garylee1 commented on #6
@brunogabriel – custom events do not apply to our iOS and Android SDKs and will be discarded if sent (they exist in iOS only as a relic of a very early beta period and we will remove them soon).

Our Sift Java SDK is a client on top of our [REST Events API](https://siftscience.com/developers/docs/curl/events-api), which supports custom events, whereas our mobile SDKs perform automated tracking (an

[2017-06-28 20:34] #6 closed

[2017-06-28 20:38] nickhurlburt commented on #3
@edenman thanks for letting us know, we're taking a look and will follow up.

[2017-06-28 20:40] nickhurlburt commented on #5
@pkovalenko thanks for bringing this to our attention, we'll take a look.

[2017-07-17 14:33] TheKeeperOfPie opened #8 "IllegalAccessError in AndroidDeviceProperties"
Not sure what causes this, but we've hit several crashes from users. Unfortunately I don't have reproduction steps.

For reference, this has only occurred on Xiaomi devices for now, a combination of MI 5s and Redmi Note 3/4.

Our Fabric crash can be viewed here: http://crashes.to/s/9a2d9a7276c

[code]

[2017-07-17 18:28] AnilRh commented on #5
Any update on this one @nickhurlburt?

[2017-07-17 18:59] garylee1 commented on #5
@AnilRh this should have been fixed with the latest release.

[2017-07-17 19:00] garylee1 commented on #5
https://github.com/SiftScience/sift-android/releases/tag/v0.9.4

[2017-07-19 16:24] quanpod commented on #8
Thanks for the report @TheKeeperOfPie - please let us know if you're able to find a repro.

[2017-07-21 08:06] pkovalenko opened #9 "Crash in Sift.open(this)"
I updated SiftScience version to 0.9.4.
On samsung S5(API version 6), Samsung S8(API version 7), when I call Sift.open(this),  I got
`java.lang.AbstractMethodError: abstract method "com.google.android.gms.common.api.Api$zze com.google.android.gms.common.api.Api$zza.zza(android.content.Context, android.os.Looper, com.google.android.gms.common.internal.zzg, java.lang.Object, com.google.android.gms.c

[2017-07-21 21:33] garylee1 commented on #9
Hi – I believe this is due to a bug in mismatched Google Play APIs versions and there's no good solution on our end short of forcing dependency versions for our SDK clients (which is bad practice). Can you make sure that all `com.google.android.gms-play-services-*` dependencies you are using are on at least 9.8.0?

[2017-07-21 23:12] quanpod commented on #5
@pkovalenko @AnilRh let us know if this fixes the issue for you

[2017-07-27 14:34] TheKeeperOfPie commented on #8
Has there been any progress here? We've had dozens of more crashes and It does seem to only be occurring on Xiaomi devices, but unfortunately we don't have one to test with.

Does Sift have access to one and could confirm the crash? Might just be an OEM quirk that has be coded around.

[2017-08-14 07:22] pkovalenko commented on #9
Currently we use GMS version 10.2.4, I updated to latest 11.0.4 but got same crash.
I downgrade GMS version to 9.8.0 and it works on old version.
But we use some  some Firebase Messaging and Google Account functional from latest versions and we cannot use old version of GMS.

Thank you.

[2017-08-21 19:21] edenman opened #10 "Sift.get() returns null if the app UI hasn't been launched yet"
My app has a boot listener so that we can fetch the state of the world from our server and stop/re-start Geofences as needed.  Because of the way the documentation says to initialize Sift, none of my Activity listener stuff has fired yet, because there's no UI yet.  But my `User` listener fires, and that means I call `Sift.get().userId = foo`.  Unfortunately this means the app crashes because `Sif

[2017-08-21 19:31] edenman commented on #10
At the very least, `Sift.get()` should be marked `@Nullable`

[2017-08-25 17:59] AnilRh commented on #9
Any update on this issue @garylee1 ?

[2017-08-25 20:56] #5 closed

[2017-08-27 03:33] garylee1 commented on #9
@AnilRh we'll put it on our roadmap to address the near future. does it sound like a reasonable fix to configure gradle to allow multiple versions of the same library, and force the one our SDK is using to call the 9.8.0 APIs everywhere?

[2017-08-29 13:23] pkovalenko commented on #9
Problem was solved by adding
`compile "com.google.android.gms:play-services-location:$rootProject.gmsVersion"`
to dependency list of my application module

[2017-08-29 13:23] #9 closed

[2017-08-31 22:59] quanpod commented on #8
Hi @TheKeeperOfPie - we don't have a device on hand, so we may need to order one to find a repro here.  Do you have an idea of how often it's occurring on Xiaomi devices (e.g. how often we'd have to run Seatgeek on this device to encounter this situation?)?  I'm still concerned that even with a device we may not be able to definitively get a reproducible bug that we can fix.  We also do have a new

[2017-09-04 09:19] sleepylee opened #12 "Proguard configuration"
Our app failed at init when trying to integrate SiftScienece with proguard mode is On. Here is what we received from the crashlytics http://crashes.to/s/9b9d8fcf881. Would you please advise for the solution?
Currently what I suppose is that there is some extra configuration required for the usage jackson usage https://github.com/FasterXML/jackson-docs/wiki/JacksonOnAndroid

[2017-09-11 17:28] brunogabriel opened #13 "Application Crash when call Sift.open"
Hi,

I'm integrating Sift using Android SDK, when I call Sift.open(activity), the application crash. The error is:

[code]
I tried to use with exclude and without in gradle dependencies:
def SIFT_VERSION = '0.9.5'
// Sift
    compile ("com.siftscience:sift-android:$SIFT_VERSION", {
        exclude group: 'com.google.android.gms', module: 'play-services-location'
        exclude group: 'com.google.

[2017-09-11 17:33] quanpod commented on #13
Thanks @brunogabriel, thanks for the report - adding @garylee1 who's going to help take a look.

[2017-09-11 19:17] garylee1 commented on #13
Hey @brunogabriel thanks for the report. Please see this thread for the fix and feel free to reopen this issue if it doesn't work: https://github.com/SiftScience/sift-android/issues/9

[2017-09-11 19:17] #13 closed

[2017-09-11 19:20] garylee1 commented on #12
Thanks for the report @sleepylee – have you tried incorporating the set of proguard configs you linked there? We have some rules for Jackson already (see https://github.com/SiftScience/sift-android/blob/master/sift/proguard-rules.pro) but maybe we can add more they fix things for you.

[2017-09-14 04:47] sleepylee commented on #12
thanks for the reply @garylee1, I think this should work from now since we don't observe this issue re-surfaced anymore (with the extras configuration I added from my project's proguard).

[2017-09-14 04:50] sleepylee opened #15 "From the SiftScience admin panel it recorded all Android requests got Error"
It says:
[code]

and

[code]

Not sure if this could be something on the Android SDK site itself?

SiftScience Android SDK 0.9.4

[2017-09-14 04:50] #12 closed

[2017-09-14 04:51] garylee1 commented on #15
Hey, thanks for the report @sleepylee – we just fixed this with today's release: https://github.com/SiftScience/sift-android/releases/tag/v0.9.6

[2017-09-14 04:51] #15 closed

[2017-10-04 19:48] TheKeeperOfPie commented on #8
Following up on this, we still see quite a few crashes from Xiaomi devices.

I got my hands on a Redmi Note 4, which is the most represented of the devices and unfortunately cannot reproduce the crash.

But it seems to related to the fact that `jsonschema2pojo-gradle-plugin` uses reflection in the `toString()` method of its models. Xiaomi devices may have some undefined behavior when you try refle

[2017-10-04 19:57] quanpod commented on #8
Thanks @TheKeeperOfPie - @garylee1 will be the person taking a look here

[2017-10-21 00:24] weilun106 opened #17 "Memory leak upon app launch"
Per my colleague @tomoima525:

We followed [Application Integration section](https://siftscience.com/developers/docs/curl/mobile-sdk/android) to implement Sift Science SDK. However, We are seeing memory leaks at LaunchActivity which gets destroyed immediately(1 - 5 sec) after app launch. I'm suspecting that Sift.collect() is taking a long time to collect data and since devicePropertiesCollector ho

[2017-10-23 21:19] garylee1 commented on #17
Hi – for I think a reasonable fix would be to remove this from LaunchActivity and initialize the Sift SDK elsewhere. We will look into fixing this memory leak in an upcoming sprint. Thanks for the report!

[2017-10-24 19:39] garylee1 commented on #10
@edenman we've market `Sift.get()` as nullable and will make a release sometime this week.

[2017-10-27 00:08] garylee1 commented on #10
Done

[2017-10-27 00:08] #10 closed

[2017-11-02 22:34] chrisgonzgonz opened #19 "Error, DuplicateFileException: Duplicate files copied in APK"
I've been getting this error when attempting the standard application integration using gradle v 2.2.2:

[code]

My `packagingOptions` are below:

[code]
Not sure what is causing this as the "duplicate" `META-INF/LICENSE` file is being excluded.

Thanks in advance for any guidance!

[2017-11-07 19:40] garylee1 commented on #19
Thanks for the report @chrisgonzgonz – does this happen with the latest SDK version 0.9.7? Does the gradle update seem to be the culprit?

[2017-11-07 19:41] garylee1 commented on #17
Update @weilun106 – we have a fix for the memory leak and are targeting a release this Thursday or Friday. Thank you for your patience!

[2017-11-07 19:55] chrisgonzgonz commented on #19
Hi Gary, no problem. This is happening with SDK v 0.9.7 and gradle v 2.2.2.

Should i be using a different version of the SDK with this version of gradle?

[2017-11-07 19:59] garylee1 commented on #19
Ah, no just trying to pinpoint the cause. Are you able to build this with a higher gradle version? For testing, we're currently using `3.3`.

[2017-11-07 21:22] chrisgonzgonz commented on #19
Unfortunately we're not able to do that, any gradle version `>= 3.0` is breaking for us.

[2017-11-08 03:06] garylee1 commented on #19
Have you tried using some version of:

[code]

Since it looks like the duplicated files are coming from the same library (Jackson), this should also be okay.

[2017-11-08 19:48] chrisgonzgonz commented on #19
Thanks @garylee1 for the suggestion, I've tried that as well. The same failure occurs.

[2017-11-10 19:53] garylee1 commented on #17
Hi @weilun106 – we're planning on releasing the fix today!

[2017-11-10 23:56] garylee1 commented on #17
This has been released with 0.9.8!

[2017-11-10 23:56] #17 closed

[2017-11-15 15:24] pkovalenko opened #22 "OOM Error on Sift.save() calling"
SiftScience version to 0.9.7.
On samsung S8, Samsung S7, LGMP260, I see crashes with next stacktrace
`Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 89987080 byte allocation with 16777216 free bytes and 52MB until OOM
       at java.lang.StringBuilder.toString(StringBuilder.java:408)
       at com.fasterxml.jackson.core.util.TextBuffer.contentsAsString(TextBuffer.java:348)

[2017-11-15 17:06] quanpod commented on #22
Thanks for the report @pkovalenko - adding @garylee1 to investigate, although if you move to the latest version (0.9.8), we've fixed an issue that may be related.

[2017-11-22 09:44] TheLester opened #23 "Fatal Exception: java.lang.NoSuchFieldError"
On  Xiaomi Redmi Note 4 MI MAX i see such crash in my crashlytics dashboard:

[code]

[2017-11-22 13:04] TheLester commented on #23
I think you should add pro-guard rule for org.apache.commons.lang3

[2017-11-24 09:08] pkovalenko commented on #22
@quanpod We updated sift in our app to 0.9.8 and see decreases amount of crashes. But crash still reproduces.

[2017-11-24 17:06] quanpod commented on #23
@TheLester Thanks for the report - @garylee1 took a look at this earlier this week, should hear back from him next week.

[2017-11-24 17:10] quanpod commented on #22
Do you have rough volume/% #'s of the crash?

[2017-11-27 07:51] aprilodessa commented on #22
Hello @quanpod! Let me jump into this conversation.
At this moment we have 20 users who got more than 300 such exceptions.
Please let me know what else information can be useful to you.

[2017-11-27 19:02] garylee1 commented on #23
@TheLester we should be able to add that ProGuard rule with the next release. Thanks for the report!

[2017-11-27 19:04] garylee1 commented on #22
@aprilodessa @pkovalenko I'll look into this. Thanks for the context.

[2017-11-29 16:25] gondekr opened #24 "Crash on background Apps (Uploader)"
There's a big number of occurences of this error on my Crashlytics dashboard

Currently using version 0.9.3

[code]

Heres the stack:
[code]

[2017-11-29 16:55] garylee1 commented on #24
Hi, thanks for the report. We're currently on v0.9.8 and this issue was fixed quite some time ago – please see https://github.com/SiftScience/sift-android/issues/5.

[2017-11-29 16:55] #24 closed

[2017-11-29 17:02] gondekr commented on #24
Thanks, sorry bout that 😅

[2017-12-07 20:51] kaeawc opened #25 "Ability to turn off SDK logs"
The Sift SDK is generating quite a lot of logs at the info and debug levels, not just error. While these are good for getting started with an SDK, I really don't want to be logging this information in production apps. Would Sift be okay with me making a pull request to introduce a logging flag in the `Sift.Config.Builder`?

[2017-12-07 21:00] garylee1 commented on #25
sure, yeah! that would be great.

[2017-12-07 21:02] garylee1 commented on #22
we've got an upcoming fix that should address this!

[2017-12-11 20:44] garylee1 commented on #8
@TheKeeperOfPie this should be addressed by our upcoming release!

[2017-12-11 20:45] garylee1 commented on #19
this will be addressed by our upcoming release

[2017-12-11 21:09] chrisgonzgonz commented on #19
thank you @garylee1

[2017-12-12 19:26] garylee1 commented on #19
this has been fixed in 0.9.9

[2017-12-12 19:26] #19 closed

[2017-12-12 19:26] garylee1 commented on #8
this has been fixed in 0.9.9

[2017-12-12 19:26] #8 closed

[2017-12-13 23:38] garylee1 commented on #23
please hold off – we're fixing a small issue related to deserializing archived configs. the fix will be released soon with 0.9.10.

[2017-12-13 23:38] garylee1 commented on #22
please hold off – we're fixing a small issue related to deserializing archived configs. the fix will be released soon with 0.9.10.

[2017-12-13 23:38] garylee1 commented on #19
please hold off – we're fixing a small issue related to deserializing archived configs. the fix will be released soon with 0.9.10.

[2017-12-13 23:38] garylee1 commented on #8
please hold off – we're fixing a small issue related to deserializing archived configs. the fix will be released soon with 0.9.10.

[2017-12-14 02:29] chrisgonzgonz commented on #19
great thank you @garylee1

[2017-12-14 09:13] pkovalenko commented on #22
Thank you @garylee1

[2017-12-14 11:08] TomGilbert opened #27 "Documentation not correct re: disallow location, causes crash"
The sample code for `onActivityCreated` doesn't use the API correctly with regards to `withDisallowLocationCollection`. The sample shows a call to `Sift.get().setConfig(...)` AFTER a call to `Sift.open(activity)`. The open call will try to init location services and will therefore crash on a Android 6+ device when the app doesn't have location permissions.

The correct form is to instead supply th

[2017-12-14 18:29] TomGilbert opened #28 "Sift AndroidManifest.xml shouldn't include location permissions"
Surely the documentation should tell the app dev to add location permissions to the app AndroidManifest.xml *iff* the app is going to use location tracking?

If these permissions are included in Sift's manifest as they are now, everything is probably OK for API 23+ (Android 6.0) since they are requested as runtime permissions.

However for versions of Android before API 23, a user MUST grant these

[2017-12-14 23:07] garylee1 commented on #27
Thanks for this! We've updated the docs with 0.9.10 (just released).

[2017-12-14 23:07] #27 closed

[2017-12-15 00:35] garylee1 commented on #23
0.9.10 has been released – please skip over 0.9.9

[2017-12-15 00:35] garylee1 commented on #22
0.9.10 has been released – please skip over 0.9.9

[2017-12-15 00:35] garylee1 commented on #19
0.9.10 has been released – please skip over 0.9.9

[2017-12-15 00:35] garylee1 commented on #8
0.9.10 has been released – please skip over 0.9.9

[2017-12-15 11:35] TomGilbert commented on #28
The problem noted above for API versions < 23 (when *not* using Sift location stuff) can be avoided by adding this to the app AndroidManifest.xml

[code]

[2017-12-27 15:08] pkovalenko opened #31 "OOM Error on Queue.archive() calling"
SiftScience version to 0.9.10.
On samsung SM-N950U, Samsung S7, Samsung SM-G950U, LG V10 (Android 5, Android 7), I see crashes with next stacktrace.
`Fatal Exception: java.lang.OutOfMemoryError: Failed to allocate a 155189256 byte allocation with 16777216 free bytes and 112MB until OOM
       at java.util.Arrays.copyOf(Arrays.java:3352)
       at java.lang.AbstractStringBuilder.expandCapacity(Abst

[2018-01-03 22:49] garylee1 commented on #31
@pkovalenko Thanks for the report – this has been reported with using GSON on old devices. going to look into streaming this so it doesn't take up heap space. Hope to get a fix out soon; will keep you updated!

[2018-01-04 02:53] garylee1 commented on #31
Actually – @pkovalenko would you mind sending a message to support@siftscience.com referencing this issue? It's curious that we'd be trying to write a string that large and I'd like to follow up on exactly what might be happening here with your integration.

[2018-01-10 21:24] garylee1 commented on #25
we've addressed this with release v0.9.11

[2018-01-10 21:24] #25 closed

[2018-01-19 14:35] pkovalenko opened #33 "RejectedExecutionException in AppStateCollector"
SiftScience version to 0.9.11.
On ALCATEL  5054, Samsung S7, Samsung SM-G950U, LG V10 (Android 5, Android 7, Android 4), I see crashes with next stacktrace.

[code]

Could you please take a look at this issue. Thank you!

[2018-01-19 18:46] quanpod commented on #33
Acknowledging the issue, @garylee1 to take the initial look and then we'll get something on our backlog. Thanks @pkovalenko

[2018-01-19 19:49] garylee1 commented on #33
Thanks @pkovalenko we'll get the fix out for this soon. It should only be happening on shutdown, so there's not a user-facing impact.

[2018-01-20 00:07] garylee1 commented on #33
@pkovalenko This has been fixed and released with v0.9.12. Thanks for your patience!

[2018-01-20 00:07] #33 closed

[2018-01-23 01:01] NightOwlCoder opened #35 "Build error for archiveConfig"
Build error on this file:

https://github.com/SiftScience/sift-android/blob/90d264ecd152e378f71f7b55fbbda031584b1368/sift/src/main/java/siftscience/android/Sift.java

This 2 methods are duplicated:

[code]

[2018-01-23 01:03] garylee1 commented on #35
Ah, sorry about this – I was pretty sure I caught this but it didn't make its way into the release. Will have the fix out very soon.

[2018-01-23 01:05] garylee1 commented on #35
Actually @NightOwlCoder – are you trying to build it from the Github artifact? I believe the release on jcenter / maven does not have this issue.

[2018-01-23 01:05] garylee1 commented on #35
In any case, I'll push another Github release with this fixed.

[2018-01-23 07:22] garylee1 commented on #35
@NightOwlCoder this has been fixed and rereleased under 0.9.12

[2018-01-23 07:22] #35 closed

[2018-01-24 04:49] NightOwlCoder commented on #35
@garylee1 yes, we build from GitHub, is that bad?
What would be a good way to build it?

We need the AAR to create the Xamarin bindings.

[2018-01-24 04:49] NightOwlCoder commented on #35
Thank you for the quick turn around.

[2018-01-25 16:39] kaeawc opened #37 "Crash on AppStateCollector.onConnected"
Using the latest version of Sift Android SDK 0.9.11, observed a crash from a user on Kitkat (4.4.4) - HM NOTE 1LTETD

[code]

[2018-01-31 04:12] garylee1 commented on #37
thanks for the report! this is only a crash when backgrounding. we fixed this with https://github.com/SiftScience/sift-android/releases/tag/v0.9.12

[2018-01-31 04:12] #37 closed

[2018-02-08 16:39] JayyyR commented on #31
Happens to us too, any updates on a fix for this?

[2018-02-08 17:15] quanpod commented on #31
Thanks @JayyyR - can you also send a note to support?  Want to connect over email so we can get some more details. cc @garylee1

[2018-02-26 11:24] pkovalenko commented on #31
@garylee1 @quanpod Hi, do you have any updates? We continue to receive crash reports with this issue.

[2018-02-26 17:08] garylee1 commented on #31
@pkovalenko Thank you for your patience — I will try to have a fix out this week.

[2018-02-27 22:20] garylee1 commented on #31
@pkovalenko @JayyyR I've just released https://github.com/SiftScience/sift-android/releases/tag/v0.9.13 which hopefully addresses this by decreasing the batch size by 75%. Please let me know how this works out.

[2018-02-28 09:12] pkovalenko commented on #31
@garylee1 Thank you very mutch. We`ll update version in our app and let you know result.

[2018-02-28 22:27] JayyyR commented on #31
Thanks! We'll try it as well

[2018-03-01 18:11] garylee1 commented on #31
@pkovalenko @JayyyR Please hold on integrating 0.9.13 — I need to make a small patch.

[2018-03-05 15:48] JayyyR commented on #31
@garylee1 I'll hold off

[2018-03-14 14:40] JayyyR commented on #31
@garylee1 any updates?

[2018-03-14 19:20] garylee1 commented on #31
@JayyyR We're almost at the end of a big release that addresses this and several other things. I'm hoping to get it out by the end of next week. Will keep you posted.

[2018-03-14 19:32] JayyyR commented on #31
okay great, thanks for the update!

[2018-03-19 21:56] falcon4ever commented on #31
Any updates on a bug fix?

[2018-03-20 00:11] garylee1 commented on #31
@falcon4ever We're starting code review for this fix – hope to have it out in the next few days! The new release will address this and generally use a much more performant/sane concurrency model, as well as addressing functionality gaps we've collected over the past few months of beta. It will require minor integration changes. I'll keep all of you in the loop.

[2018-03-20 10:07] serapbercin opened #41 "Can t provide Sift for instance"
SiftScience version to 0.9.13

about the this method
@Nullable
    public static synchronized Sift get() {
        return instance;
    }

I cant provide Sift instance because of use  Nullable annotation in Sift get()

[2018-03-27 07:38] ming13 commented on #28
@garylee1, any updates on this?

[2018-03-27 15:24] garylee1 commented on #28
hey @ming13 thanks for your patience – we're planning on doing a release soon and can roll this in.

[2018-03-27 15:25] garylee1 commented on #41
@serapbercin Just curious why you're trying to access the instance? We're also making a release this week that operates entirely on the Singleton class, so that should solve this.

[2018-04-04 11:34] alteredworlds commented on #41
The docs for a [custom integration ](https://github.com/SiftScience/sift-android#custom) contain the line `Sift.get().save();`, to be called in onPause(), so I've implemented as:
[code]

[2018-04-04 12:04] alteredworlds opened #43 "Fatal exceptions with 0.9.13 - ConcurrentModificationException"
I'm seeing exception reports apparently related to Sift:

[code]

[2018-04-04 18:10] quanpod commented on #43
Thanks for the report @alteredworlds - @garylee1 to investigate in the next sprint.

[2018-04-04 20:09] JayyyR commented on #31
Hi @garylee1 , sorry to keep bothering but any updates here? This is still our #1 crash. We should not be on 9.13, correct? We're still on 9.12

[2018-04-04 20:47] garylee1 commented on #31
@JayyyR Apologies for the delay – I was not able to get this out before being out of office, but I'm targeting end-of-day today for the new release.

[2018-04-05 22:30] garylee1 commented on #41
@serapbercin @alteredworlds – we've just released a significant upgrade to the SDK which removes instance access altogether, so hopefully that should address your issue. It can be found here:

https://github.com/SiftScience/sift-android/releases/tag/v0.10.0-beta

Please do observe the release notes – there are a few breaking changes that require very minor integration tweaks and some optional new

[2018-04-05 22:33] garylee1 commented on #43
@alteredworlds – we've just released a significant upgrade to the SDK which rewrites our SDK's concurrency model to be based on a single-threaded async task queue. We expect it to fix the error you're encountering.

https://github.com/SiftScience/sift-android/releases/tag/v0.10.0-beta

Please do observe the release notes – there are a few breaking changes that require very minor integration tweaks

[2018-04-05 22:34] garylee1 commented on #28
@TomGilbert @ming13 we've just released a significant upgrade to the SDK and have removed the optional permissions from our AndroidManifest.xml among many other improvements. The release can be found here:

https://github.com/SiftScience/sift-android/releases/tag/v0.10.0-beta

Please do observe the release notes – there are a few breaking changes that require very minor integration tweaks and some

[2018-04-05 22:37] garylee1 commented on #31
@pkovalenko @falcon4ever @JayyyR we've just released a significant upgrade to the SDK and have changed the archive, upload, and batching policy to hopefully address this issue (among many other improvements). The release can be found here:

https://github.com/SiftScience/sift-android/releases/tag/v0.10.0-beta

Please observe the release notes – there are a few breaking changes that require very mi

[2018-04-06 17:08] JayyyR commented on #31
thanks!

[2018-04-06 22:41] #43 closed

[2018-04-06 22:41] #41 closed

[2018-04-06 22:41] #28 closed

[2018-04-12 16:10] sidnair opened #45 "NPE when calling setUserId/unsetUserId after app resume"
Hi,

I'm running into an error when trying to use the latest version of the SDK:

[code]

I'm using a React Native app with top-level [application integration](https://github.com/SiftScience/sift-android#application-integration) + a simple native module to call setUserId/unsetUserId from JS. I can provide more context on my setup if that's helpful, but I was able to get a repro by modifying the He

[2018-04-12 16:12] quanpod commented on #45
Thanks for the report Sid, will have the team investigate. Appreciate the
detailed notes!

On Thu, Apr 12, 2018 at 9:10 AM Sid Nair <notifications@github.com> wrote:

[2018-04-12 19:14] garylee1 commented on #45
@sidnair thanks for the report, and great catch – indeed, we're missing a call to `open` within `resume`. For now, you can either call that yourself instead of `resume`, or wait for the new release (hopefully I can push it out today!).

[2018-04-12 19:38] JayyyR commented on #31
@garylee1 it doesn't look like Sift.collect() is being called on a separate thread anymore. In the old SDK, you were running deviceProperties.collect() in a different thread. Now it's not anymore in 0.10.0-beta. Is this intentional? Or maybe I'm missing something?

When collect() wasn't happening on a new thread in an old sdk, we were seeing very slow activity launch times. I just want to make sur

[2018-04-12 20:39] garylee1 commented on #31
@JayyyR ah, okay – we were pretty sure the slowness was coming from the unarchiving, which was synchronous before and with the latest release is not. we can also move the collection back to a background thread. i'll keep you posted.

[2018-04-12 20:47] JayyyR commented on #31
ah so unarchiving is still asynchronous in 0.10?

[2018-04-12 20:55] garylee1 commented on #31
sorry, no – our profiling (and other reports) showed unarchiving (restoring the SDK state from disk) to be the launch bottleneck, so we changed that to be asynchronous. separately, we can also easily move collect() back to an AsyncTask if that was causing issues for your application.

[2018-04-13 21:15] garylee1 commented on #31
@JayyyR we just released [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta) which moves `collect` back to AsyncTask

[2018-04-13 21:15] garylee1 commented on #45
@sidnair we just released [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta) which fixes this!

[2018-04-13 21:15] #45 closed

[2018-04-13 22:46] garylee1 commented on #31
@pkovalenko @falcon4ever please upgrade to the latest version – [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta)

[2018-04-13 22:46] garylee1 commented on #43
@alteredworlds please upgrade to the latest version – [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta). We've made a few patches.

[2018-04-13 22:47] garylee1 commented on #41
@serapbercin please upgrade to the latest version – [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta). We've made a few patches.

[2018-04-13 22:47] garylee1 commented on #28
@TomGilbert @ming13 please upgrade to the latest version – [0.10.1-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.1-beta). We've made a few patches.

[2018-04-18 11:46] PavKovalenko opened #49 "Sift.setUserId and Sift.unsetUserId throw NullPointerException"
Found that calling Sift.setUserId and Sift.unsetUserId can throw NullPointerException.
Looks like it can happens if calling them outside Activity lifecycle. It could happens if need to setup user Id or clear it inside async callback.
User already close activity and application need to setup Id, but Instance field inside field is null.
I added handling this situation inside my application, but mayb

[2018-04-18 17:30] quanpod commented on #49
Acknowledging, @garylee1 to investigate.  Thanks for the report @PavKovalenko

[2018-04-18 20:09] garylee1 commented on #49
@PavKovalenko what SDK version are you on?

[2018-04-18 20:11] garylee1 commented on #49
we fixed this with 0.10.1-beta – we never close the Sift instance so as long as you open it before you `setUserId` anywhere, you should never get an NPE

[2018-04-19 08:28] PavKovalenko commented on #49
@garylee1 Thank you. Then we can close issue

[2018-04-19 08:28] #49 closed

[2018-04-19 18:36] edenman opened #50 "Sift.unsetUserId() and Sift.setUserId() are unsafe if used outside of the Activity lifecycle"
I initialize Sift as recommended, in the Activity.  I recently upgraded from 0.9.7 to 0.10.0-beta and now code that happens outside the activity lifecycle can't safely call unsetUserId/setUserId (instance is null, so my app crashes).  Is there some way I can check to see if Sift has been initialized?  Or can you guys make those calls safe?

[2018-04-19 20:36] quanpod commented on #50
@edenman are you on the very latest?  @garylee1 should have a fix that in 0.10.1-beta

[2018-04-19 20:39] edenman commented on #50
0.10.1-beta still seems to have this:
[code]

[2018-04-19 20:40] edenman commented on #50
If I haven't called `Sift.open` yet, `instance` will be null and this call will crash

[2018-04-19 20:49] garylee1 commented on #50
@edenman We can safeguard against this but you'll still need to call `Sift.open` before setting or unsetting the `userId`. Otherwise, it'll be a no-op or an illegal state exception at best. We've modified our SDK to never release the instance once it's opened, so you provided you've `open`ed, you shouldn't have to worry about the instance being nulled out even outside of the Activity lifecycle.

[2018-04-19 20:58] edenman commented on #50
Two options:
1. in the case of "not yet called open", no-op
2. exposing a "isInitialized"/"isOpened" method

I don't have a strong preference between the two.

[2018-04-19 21:05] garylee1 commented on #50
Sounds good – it'll probably be 1) but i'll keep you looped in.

[2018-04-19 21:07] garylee1 commented on #50
@edenman I feel like you'd want to know about it though, right? If we don't crash, effectively it's an integration error that will go unnoticed.

[2018-04-19 21:07] garylee1 commented on #50
*or throw an illegal state exception

[2018-04-19 21:29] garylee1 commented on #50
I see – that's an interesting idea. We could definitely write it to archive opportunistically such that it's independent of the Sift instance existing. We'll definitely consider that for a future SDK release.

[2018-04-20 15:39] falcon4ever commented on #50
@garylee1 +1 on edenman's comment.

Would like to have some way of knowing if Sift has been initialized properly and that **instance** isn't null. Had the app crash because of calling setUserId ()/unsetUserId() without Sift being properly initialized.

Not entirely sure why but my best guess is that the app is resumed after being killed in the background by the OS. It then probably resumes the act

[2018-04-20 18:10] garylee1 commented on #50
Sounds good – I'll try to do a release early next week that allows for setting and unsetting the userId in memory regardless of the Sift open state, and defensively checks the instance as well. Appreciate the feedback from you both!

[2018-04-24 22:55] garylee1 commented on #50
@edenman @falcon4ever We have a PR out that addresses this and also respects any calls made to `setUserId` and `unsetUserId` that occur before Sift has been opened:

https://github.com/SiftScience/sift-android/pull/51

[2018-04-25 13:15] edenman commented on #50
This looks great, thanks @garylee1!

[2018-04-25 14:52] JayyyR opened #52 "Crash on GoogleApiClient.isConneted()"
We updated to the latest version 0.10.1-beta and now we're seeing a sift crash as our top issue

[code]
Looks like the googleApiClient can be null

[2018-04-25 17:10] quanpod commented on #52
Thanks @JayyyR - acknowledging the report.  Assigning @garylee1 to take a look.

[2018-04-25 23:35] garylee1 commented on #52
@JayyyR we've fixed this with https://github.com/SiftScience/sift-android/releases/tag/v0.10.2-beta !

[2018-04-25 23:35] garylee1 commented on #50
We've fixed this with https://github.com/SiftScience/sift-android/releases/tag/v0.10.2-beta !

[2018-04-25 23:36] #50 closed

[2018-04-25 23:36] #52 closed

[2018-04-26 12:54] JayyyR commented on #52
Thanks, we'll give it a go

[2018-04-30 22:49] garylee1 commented on #31
excellent! @pkovalenko for reference, the latest is now [0.10.2-beta](https://github.com/SiftScience/sift-android/releases/tag/v0.10.2-beta)

[2018-04-30 22:49] #31 closed

[2018-05-07 08:01] ming13 commented on #43
@garylee1, is there any chance to get the ETA of the release (i. e. not beta) version?

[2018-05-16 22:20] sidnair opened #55 "Updating Sift.Confg"
Hi,

Is there a way to change the account id/secret if `Sift.open()` has already been called? It looks like `Sift.open()` ignores the config if a `SiftImpl` exists, and the `setConfig()` method in `SiftImpl` isn't exposed by the `Sift` singleton.

The context is that in the test build of our app, users can configure whether they hit our staging or prod API. So, when the user switches environments,

[2018-05-16 22:27] garylee1 commented on #55
@sidnair Ah sure, that's reasonable. I will put that on the list for our next release.

[2018-05-16 22:48] sidnair commented on #55
Awesome, thanks. Do you have a sense of timing, so we can figure out how to prioritize workarounds in the meantime?

[2018-05-17 03:41] garylee1 commented on #55
I'll try to have something by end of next week

[2018-05-30 18:56] garylee1 commented on #55
@sidnair I just released 0.10.3-beta, which will apply a new config when `Sift.open(context, config)` is called.l

[2018-05-30 18:56] #55 closed

[2018-06-13 08:57] hvisser opened #59 "Proguard rules are way too broad"
The ProGuard config is keeping all of the library, preventing shrinking of unused code. In addition it's also keeping entire third party libraries and very generic package names like `com.google.common`.

It also "removes" logging by using `-assumenosideeffects` but this _only_ works if ProGuard optimisation is enabled. This may not be the case for every Android build out there, resulting in debug

[2018-06-13 09:29] hvisser commented on #25
This is still an issue if you either don't use ProGuard (which you should) or when you don't use ProGuard optimisation. By default Android projects do not have this turned on, and in that case debug logging will still be visible in release builds. Please add an option to the builder like many other SDKs have.

[2018-06-18 17:19] quanpod commented on #59
Thanks @hvisser - acknowledging the request.  Assigning to @garylee1 for the moment, I'll have Laura and team connect us for some more details here.

[2018-07-25 23:04] elaser opened #60 "Unable to build app with gradle 3.1.3 and sift 0.10.3-beta"
Hi there,
  We tried to integrate Sift Science with our app (which is currently being built on gradle 3.1.3).  We tried 0.10.3-beta and 0.9.2 as well.  We are encountering this error:

[code]

Do you have a workaround for this?

[2018-07-25 23:14] quanpod commented on #60
Acknowledging the request and assigning @garylee1.  My initial instinct is that there are some issues around the dependencies you're pulling in and some overlapping ones w/ what Sift pulls in.

[2018-07-30 06:02] dmitry-novikov opened #61 "ConcurrentModificationException"
We have faced crash on `sift-android` version `0.9.13`:
[code]

[2018-07-30 16:05] garylee1 commented on #61
This has been fixed with all subsequent versions after 0.10.x – we just released 0.10.4 so please use that.

[2018-07-30 16:05] #61 closed

[2018-07-30 16:06] garylee1 commented on #60
@elaser this has been fixed with https://github.com/SiftScience/sift-android/releases/tag/v0.10.4!

[2018-07-30 16:06] #60 closed

[2018-07-30 16:09] garylee1 commented on #59
@hvisser we've significantly reduced our ProGuard footprint with https://github.com/SiftScience/sift-android/releases/tag/v0.10.4. We still need to work on the logging bit and previously we were having some issues with shrinking things due to schema serialization, but I will keep you posted!

[2018-07-30 16:35] quanpod commented on #60
For clarification, there were still some overlapping dependencies that caused this particular build issue.  We went ahead and finished out some additional work to remove dependencies that were no longer needed to make the SDK more compact, let us know if there are more issues and we're happy to help.

[2018-07-30 17:50] elaser commented on #60
works great -- thank you @garylee1 !

[2018-12-20 09:03] danielhermawan opened #64 "Build error when using siftscience 0.10.4"
Got this error when try to build project after update from 0.10.3-beta to 0.10.4

[code]

Somehow package from library apache-common is not detected or found when i try to build after i update the siftscience.

[2018-12-20 19:39] ehrmann commented on #64
Do you have something stale in your project directory? We removed commons-lang as a requirement in d61f326, and I can't find `ArrayUtils` or anything related to commons-lang when I search the repo.

[2018-12-21 04:34] danielhermawan commented on #64
We are using common-lang as dependency in our project. Somehow reference to all class from package common-lang such as arrayutils and stringUtil that we use in our project isn't detected when we try to build it after updating the siftscience, even thought we haven't remove the dependency of apache common-lang

[2018-12-21 16:42] quanpod commented on #64
One other thing - please update to latest, 0.10.4 has been a particularly
troublesome version.

On Thu, Dec 20, 2018 at 8:34 PM Daniel Hermawan <notifications@github.com>
wrote:

[2018-12-21 21:52] ehrmann commented on #64
Any chance you have `commons-lang` 2.x as a dependency? `commons-lang` changed package names from `org.apache.commons.lang` to `org.apache.commons.lang3` between 2.x and 3.x. If you included 2.x as a dependency, but accidentally imported a class from 3.x (both have `ArrayUtils` implementations) because it was previously available as a transitive dependence through `sift-android`, upgrading `sift-a

[2019-01-03 07:58] danielhermawan commented on #64
@ehrmann We are using common-lang 3.x and using package from org.apache.commons.lang3. But somehow after i update to siftsciend to 0.10.4, that package isn't detected when i am try to compile

[2019-01-03 19:09] ehrmann commented on #64
Is the dependency tagged as a test dependency?

I'm running out of ideas. We have nothing in the project related to commons-lang anymore. I created a new project in Android Studio, added sift-android 0.10.4 and commons-lang3 3.8.1 as dependencies, and Android Studio allowed me to import classes from both without any issues.

[2019-01-07 05:40] danielhermawan commented on #64
I find the fix. It seem our module that use siftscience forgot to add apache library as dependency in gradle, so we were using apache package from siftscience before siftscience removing apache dependency in the new version. Sorry for the trouble.

[2019-01-07 05:40] #64 closed

[2019-03-07 17:30] theonetheycallneo opened #66 "Multidex Support"
Hello,

We were attempting to install Sift in our Android application.  However our app is quite large and has multiDex enabled https://developer.android.com/studio/build/multidex

When we add the Sift lib, we receive an error:

[code]

Any ideas and help would be much appreciated.

[2019-03-07 17:59] quanpod commented on #66
Acknowledging the request - I'm adding @garylee1 and @ehrmann to do an initial look.

[2019-03-07 18:00] quanpod commented on #66
@theonetheycallneo could you also please send me an email - quan@sift.com in case we need some additional details?

[2019-03-07 18:07] quanpod commented on #66
I did a quick look around the web and this has been seen in some other libraries, particularly in relation to Google services dependencies or a Gradle cache issue.

Could you share the dependency list/build.gradle file?

I've been looking over here: https://github.com/invertase/react-native-firebase/issues/1051

[2019-03-07 21:47] theonetheycallneo commented on #66
Shot you an email with more details.  Thanks for your help-

[2019-03-08 00:26] theonetheycallneo commented on #66
I was able to fix this by installing the latest android gradle plugin and updating my dependencies.

[code]

[2019-03-08 00:32] #66 closed

[2019-05-03 20:18] BruceClift opened #67 "Crash in AppStateCollector.getIpAddresses"
I am using your library (com.siftscience:sift-android:0.10.4), and am seeing this crash (so far only for one of my users):
Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'boolean java.util.Enumeration.hasMoreElements()' on a null object reference
       at siftscience.android.AppStateCollector.getIpAddresses(AppStateCollector.java:172)
       at siftscience.and

[2019-05-03 20:30] quanpod commented on #67
Thanks Bruce - acknowledging the request. Tagging in David and Gary to take
a look.

On Fri, May 3, 2019 at 1:18 PM Bruce Clift <notifications@github.com> wrote:

[2019-05-14 18:45] quanpod commented on #67
Update: this is fixed in the latest version, @garylee1 will update Github with the latest release shortly and we'll close this out.

[2019-05-14 18:50] garylee1 commented on #67
The fix has been released to both Maven and Github – https://github.com/SiftScience/sift-android/releases/tag/v0.10.5

Thank for your patience, and for your surfacing this!

[2019-05-14 18:50] #67 closed

[2020-02-10 20:43] 20ali20 opened #72 "Github Readme Documentation is not up to date"
Current Documentation in Readme file is not up to date with the latest version available and some of its functions are deprecated.

an example :  Sift.save() is no longer available.

[2020-02-10 21:09] 20ali20 opened #73 "Sift throws java.lang.IllegalArgumentException"
Implementing Sift as lifecycle handler in Application throws
[code]

This is because Sift is made to be non-null. Please make it nullable.

I checked and there was another issue making the same request and it seemed like the request was accepted and yet I see the similar issue happening now.

[2020-09-21 08:29] doniwinata0309 opened #74 "Migrate to AndroidX Version"
Hi, any plan to migrate legacy support to use androidX version ?

https://github.com/SiftScience/sift-android/blob/master/sift/src/main/java/siftscience/android/AppStateCollector.java#L17
in this line i found legacy support v4, even though no support library dependencies but it causing runtime issue.

By migrating to androidX we will able to disable jetifier on our side, this will help us to impro

[2020-10-27 20:47] gmctaggart-patreon opened #78 "Does not support TV devices"
AppStateCollector.java crashes when attempting to gather battery status for devices that do not provide battery information such as smart TVs.

Here is a sample from Firebase Crashlytics:
<img width="1264" alt="Screen Shot 2020-10-27 at 1 41 52 PM" src="https://user-images.githubusercontent.com/66275960/97359895-b81d8e00-185a-11eb-8ebd-4ea768a33dee.png">

[2021-03-17 02:19] langsmith commented on #72
Yep @20ali20, this was confusing for me as I got up-to-speed with the SDK. Hopefully they'll fix the README by approving and merging my pr at https://github.com/SiftScience/sift-android/pull/87.

[2021-03-17 02:23] langsmith opened #88 "Add `Sift.getUserId()` method?"
As I get up-to-speed with the SDK and check that I've got everything installed correctly, I've found that it'd be really helpful to have a public `getUserId()` method. This way, I could check to see whether any user ID has been set at a certain point in my app's flow and if so, what the ID is. Right now, there's only `setUserId()` but no getter 😕

[2021-03-17 02:29] langsmith commented on #88
Although the user ID gets printed to the logcat 👇🏽 , I still think it'd be great to have a method....

<img width="189" alt="Screen Shot 2021-03-16 at 7 28 12 PM" src="https://user-images.githubusercontent.com/4394910/111405506-d828df00-868d-11eb-8ef0-f3336df13828.png">

[2021-03-29 20:28] brianmhiggins commented on #72
Thank you for the change.  I have merged #87 and will close this issue

[2021-03-29 20:28] #72 closed

[2021-03-30 02:11] langsmith commented on #72
Thanks @brianmhiggins

[2021-04-21 16:06] BlackGold-1989 opened #90 "initialized issue"
D/siftscience.android.SiftImpl: Unarchived User ID: null

[2021-04-27 23:31] brianmhiggins commented on #90
Hey @BlackGold-1989, could you please post some more details about the issue finding? Maybe some steps to reproduce so we can dig into it.

[2021-05-05 18:06] vincent-sift commented on #90
@BlackGold-1989 it looks like you could get this debug log if you paused the application and then came back to it. For example if the user moved from your application to another and then back. In this situation the application would be paused and the local state of the application would be saved to disk here: https://github.com/SiftScience/sift-android/blob/2acd1aaa3cc89c8fc08768a74fed2b098affba98

[2021-11-17 14:56] ericntd opened #94 "NullPointerException crash - getIpAddresses"
I saw https://github.com/SiftScience/sift-android/issues/67 and we are using v0.10.5 but the crash is still happening
[code]

It's happening on Android 11 exclusively
Device varies
![Screen Shot 2021-11-17 at 9 56 29 AM](https://user-images.githubusercontent.com/19919208/142224300-49abc40d-9dd0-4ab6-950a-5a3214381453.png)

[2021-11-17 20:29] ericntd commented on #94
Does not look like your issue but Android's https://issuetracker.google.com/issues/204913332

[2021-11-17 20:29] #94 closed

[2022-04-05 16:50] lixw1021 opened #95 "NPE crash at AppStateCollector.java line 221 in siftscience.android.AppStateCollector.getIpAddresses()"
Hey team,
the app crashed at
[code]
`version` "com.siftscience:sift-android:1.0.0"
`device info`
[code]
It looks like it only happens on this device; any idea and potential solution? Thanks

[2022-06-08 15:44] J-Mendes opened #96 "Update Gson dependency version due to vulnerability"
Hey, I've noticed that there is a security vulnerability affecting the GSON library that can compromise the data being deserialized.
Can you update the dependency to the latest one to overcome this?

You can follow the GSON issue [here](https://github.com/google/gson/pull/1991) and if you want more details about what it may affect [here](https://ossindex.sonatype.org/vulnerability/sonatype-2021-16

[2022-08-27 16:00] sudansh opened #101 "Disable logs in LogCat"
How can I disable the logs to show on the logcat?

[2022-08-29 13:03] vincent-sift commented on #101
Hello @sudansh your issue title and description are misleading. What are you trying to do?

[2022-08-29 14:32] sudansh commented on #101
Hi,
On debug `buildType` of my app. I get the SIFT logs. Is there a way to disable them to show on Android Studio LogCat

[2022-08-29 15:28] vincent-sift commented on #101
My understanding is that because we are using `android.util.Log` in the `sift-android` sdk that you should see those logs in LogCat. As you can see from this article: https://stackoverflow.com/questions/2364811/how-do-i-write-outputs-to-the-log-in-android. What behavior are you seeing in your app?

If you wanted to disable the logging outright you could set this property to off
[code]
Or you can t

[2022-09-07 09:49] noobpm commented on #96
any update on this?

[2022-09-07 12:37] vincent-sift commented on #96
Hi @noobpm. Thanks for pinging us on this issue, it looks like this has slipped through the cracks. I will create an internal ticket and assign it out.

[2022-09-12 14:29] #96 closed

[2022-11-16 15:56] Turnsole opened #104 "DiskReadViolation in Sift.open"
We're following the example given in the README of this repo, and see that the Sift SDK is doing disk reads on the UI thread. This is evident if you turn on strict mode.

[code]

[2022-11-16 15:59] Turnsole commented on #104
A third of a second might not seem like much, but this is only one of many SDKs being initialized at app start, so it all adds up.